# Node.js
node_modules/
dist/
npm-debug.log
yarn-error.log
.env

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db

# Jest
coverage/

# NestJS
/.nestjs/
